*{
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar{
  width: 0px;
}

/*Header*/

.CabecalhoPreto{
  background-Color: rgb(41, 41, 41);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: aliceblue;
  padding: 10px;
}

.CabecalhoPreto_dados{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}

.CabecalhoPreto_dados div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.CabecalhoPreto_redes{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.CabecalhoPreto_redes a{
  color: white;
}

.CabecalhoPreto_redes a:hover{
  color: rgb(211, 183, 0);
}

.PrimeiraApresentacao{
  background-image: url(./img/CapaArquiteturaModerna.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.PrimeiraApresentacao_BarraSuperior{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  backdrop-filter: blur(4px);
  color: white;
}

.PrimeiraApresentacao_BarraSuperior_Links{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.PrimeiraApresentacao_BarraSuperior_Links ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}

.PrimeiraApresentacao_BarraSuperior_Links h1{
  font-size: 20px;
}

.PrimeiraApresentacao_BarraSuperior_Links a{
  text-decoration: none;
  color: white;font-size: 14px;
}

.PrimeiraApresentacao_BarraSuperior_Links a:hover{
  color: rgb(211, 183, 0);
}

.PrimeiraApresentacao_BarraSuperior_LogoNome{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.PrimeiraApresentacao_BarraSuperior_LogoNome img{
  width: 40px;
  padding-right: 10px;
  color: white;
}

.PrimeiraApresentacao_BarraSuperior_pesquisa{
  cursor: pointer;
}

.PrimeiraApresentacao_TextoCentral{
  padding: 10px;
  width: 80%;
  max-width: 500px;
  margin: auto;
  margin-top: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
}

.PrimeiraApresentacao_TextoCentral p{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.67);
}

.PrimeiraApresentacao_TextoCentral button{
  background-color: rgb(211, 183, 0);
  border: none;
  outline: none;
  color: white;
  width: 170px;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 3px 2px 17px rgba(255, 255, 255, 0.408);
  margin: auto;
  cursor: pointer;
}

.PrimeiraApresentacao_TextoCentral button:hover{
  background-color: rgb(180, 156, 0);
}

/*Serviços*/

#Servicos{
  background-color: rgb(255, 255, 255);
}

.Servicos_Titulo{
  margin: auto;
  width: 200px;
  text-align: center;
}

.Servicos_Titulo img{
  width: 100px;
}

.Servicos_Titulo h1{
  font-size: 20px;
}

.Servicos_OpcoesDivGERAL{
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.Servicos_OpcoesDivGERAL>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 300px;
}

.Servicos_OpcoesDivGERAL>div>div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.Servicos_OpcoesDivGERAL h1{
  font-size: 20px;
}

.Servicos_OpcoesDivGERAL p{
  font-size: 15px;
  color: gray;
}

.Servicos_OpcoesDivGERAL img{
  width: 40px;
  background-color:  rgb(211, 183, 0);
  padding: 10px;
  border-radius: 50%;
}

/*Nossa História*/

@media screen and (max-width: 768px){

  /*Header*/

  .CabecalhoPreto_dados p{
    display: none;
  }

  .CabecalhoPreto_dados i{
    cursor: pointer;
  }

  .PrimeiraApresentacao_BarraSuperior_Links ul{
    display: none;
  }
  
  .PrimeiraApresentacao_BarraSuperior_LogoNome{
    font-size: 12px;
  }
  
  .PrimeiraApresentacao_BarraSuperior_LogoNome img{
    width: 30px;
  }
  
}